<!-- in app.component.html -->
<ngx-dropzone (change)="onSelect($event)" [multiple]="false">
  <ngx-dropzone-label>Drop your destinyArmor.csv here</ngx-dropzone-label>
  <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
  </ngx-dropzone-preview>
</ngx-dropzone>
<br>
<mat-form-field appearance="fill">
  <mat-label>Class</mat-label>
  <mat-select [(value)]="selectedClass" (selectionChange)="onClassChange()">
    <mat-option [value]="2">Hunter</mat-option>
    <mat-option [value]="0">Titan</mat-option>
    <mat-option [value]="1">Warlock</mat-option>
  </mat-select>
</mat-form-field>


<form class="example-container" [formGroup]="options">
  <mat-slide-toggle [checked]="advanceModeActive" (toggleChange)="toggleAdvanceMode()">Toggle advanced mode. Adds many
    more configuration fields!
  </mat-slide-toggle>
  <br/>


  <mat-form-field appearance="fill">
    <mat-label>Minimum Mobility</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 20" min="18" max="100"
           [formControl]="minMobilityControl">
    <mat-error *ngIf="minMobilityControl.invalid">Must be between 18 and 100</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="advanceModeActive">
    <mat-label>Maximum Mobility</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 20" min="18"
           [formControl]="maxMobilityControl">
    <mat-error *ngIf="maxMobilityControl.invalid">Must not be lower than 18</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="advanceModeActive">
    <mat-label>Static Mobility Boost</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 20 for Powerful Friends" min="0"
           [formControl]="staticMobilityControl">
    <mat-error *ngIf="staticMobilityControl.invalid">Must not be lower than 0.</mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Mobility Weight</mat-label>
    <mat-slider min="0.3" max="2" step="0.1" [(value)]="weightMobility" (change)="onWeightChange()"
                style="margin-top:-16px; width: 100%; margin-bottom: 14px; height: 24px"></mat-slider>
    <textarea matInput hidden></textarea>
  </mat-form-field>
  <br/>


  <mat-form-field appearance="fill">
    <mat-label>Minimum Resilience</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 20" min="18" max="100"
           [formControl]="minResilienceControl">
    <mat-error *ngIf="minResilienceControl.invalid">Must be between 18 and 100</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="advanceModeActive">
    <mat-label>Maximum Resilience</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 20" min="18"
           [formControl]="maxResilienceControl">
    <mat-error *ngIf="maxResilienceControl.invalid">Must not be lower than 18</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="advanceModeActive">
    <mat-label>Static Resilience Boost</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 10" min="0"
           [formControl]="staticResilienceControl">
    <mat-error *ngIf="staticResilienceControl.invalid">Must not be lower than 0.</mat-error>
  </mat-form-field>
  <mat-form-field floatLabel="always">
    <mat-label>Resilience Weight</mat-label>
    <mat-slider min="0.3" max="2" step="0.1" [(value)]="weightResilience" (change)="onWeightChange()"
                style="margin-top:-16px; width: 100%; margin-bottom: 14px; height: 24px"></mat-slider>
    <textarea matInput hidden></textarea>
  </mat-form-field>
  <br/>

  <mat-form-field appearance="fill">
    <mat-label>Minimum Recovery</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 20" min="18" max="100"
           [formControl]="minRecoveryControl">
    <mat-error *ngIf="minRecoveryControl.invalid">Must be between 18 and 100</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="advanceModeActive">
    <mat-label>Maximum Recovery</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 20" min="18"
           [formControl]="maxRecoveryControl">
    <mat-error *ngIf="maxRecoveryControl.invalid">Must not be lower than 18</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="advanceModeActive">
    <mat-label>Static Recovery Boost</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 10" min="0"
           [formControl]="staticRecoveryControl">
    <mat-error *ngIf="staticRecoveryControl.invalid">Must not be lower than 0.</mat-error>
  </mat-form-field>
  <mat-form-field floatLabel="always">
    <mat-label>Recovery Weight</mat-label>
    <mat-slider min="0.3" max="2" step="0.1" [(value)]="weightRecovery" (change)="onWeightChange()"
                style="margin-top:-16px; width: 100%; margin-bottom: 14px; height: 24px"></mat-slider>
    <textarea matInput hidden></textarea>
  </mat-form-field>
  <br/>

  <mat-form-field appearance="fill">
    <mat-label>Minimum Discipline</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 20" min="18" max="100"
           [formControl]="minDisciplineControl">
    <mat-error *ngIf="minDisciplineControl.invalid">Must be between 18 and 100</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="advanceModeActive">
    <mat-label>Maximum Discipline</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 20" min="18"
           [formControl]="maxDisciplineControl">
    <mat-error *ngIf="maxDisciplineControl.invalid">Must not be lower than 18</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="advanceModeActive">
    <mat-label>Static Discipline Boost</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 10" min="0"
           [formControl]="staticDisciplineControl">
    <mat-error *ngIf="staticDisciplineControl.invalid">Must not be lower than 0.</mat-error>
  </mat-form-field>
  <mat-form-field floatLabel="always">
    <mat-label>Discipline Weight</mat-label>
    <mat-slider min="0.3" max="2" step="0.1" [(value)]="weightDiscipline" (change)="onWeightChange()"
                style="margin-top:-16px; width: 100%; margin-bottom: 14px; height: 24px"></mat-slider>
    <textarea matInput hidden></textarea>
  </mat-form-field>
  <br/>

  <mat-form-field appearance="fill">
    <mat-label>Minimum Intellect</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 20" min="18" max="100"
           [formControl]="minIntellectControl">
    <mat-error *ngIf="minIntellectControl.invalid">Must be between 18 and 100</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="advanceModeActive">
    <mat-label>Maximum Intellect</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 20" min="18"
           [formControl]="maxIntellectControl">
    <mat-error *ngIf="maxIntellectControl.invalid">Must not be lower than 18</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="advanceModeActive">
    <mat-label>Static Intellect Boost</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 10" min="0"
           [formControl]="staticIntellectControl">
    <mat-error *ngIf="staticIntellectControl.invalid">Must not be lower than 0.</mat-error>
  </mat-form-field>
  <mat-form-field floatLabel="always">
    <mat-label>Intellect Weight</mat-label>
    <mat-slider min="0.3" max="2" step="0.1" [(value)]="weightIntellect" (change)="onWeightChange()"
                style="margin-top:-16px; width: 100%; margin-bottom: 14px; height: 24px"></mat-slider>
    <textarea matInput hidden></textarea>
  </mat-form-field>
  <br/>

  <mat-form-field appearance="fill">
    <mat-label>Minimum Strength</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 20" min="18" max="100"
           [formControl]="minStrengthControl">
    <mat-error *ngIf="minStrengthControl.invalid">Must be between 18 and 100</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="advanceModeActive">
    <mat-label>Maximum Strength</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 20" min="18"
           [formControl]="maxStrengthControl">
    <mat-error *ngIf="maxStrengthControl.invalid">Must not be lower than 18</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="advanceModeActive">
    <mat-label>Static Strength Boost</mat-label>
    <input matInput (change)="onLimitsChange()" type="number" placeholder="Ex. 10" min="0"
           [formControl]="staticStrengthControl">
    <mat-error *ngIf="staticStrengthControl.invalid">Must not be lower than 0.</mat-error>
  </mat-form-field>
  <mat-form-field floatLabel="always">
    <mat-label>Strength Weight</mat-label>
    <mat-slider min="0.3" max="2" step="0.1" [(value)]="weightStrength" (change)="onWeightChange()"
                style="margin-top:-16px; width: 100%; margin-bottom: 14px; height: 24px"></mat-slider>
    <textarea matInput hidden></textarea>
  </mat-form-field>
  <br/>

  <div *ngIf="advanceModeActive">
    <mat-form-field appearance="fill">
      <mat-label>Helmet Text Filter</mat-label>
      <input matInput (change)="onTextFilterChange()" (keyup)="onTextFilterChange()" type="text"
             placeholder="Ex. Khepri's Horn" [formControl]="helmetTextFilterControl">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Gauntlets Text Filter</mat-label>
      <input matInput (change)="onTextFilterChange()" (keyup)="onTextFilterChange()" type="text"
             placeholder="Ex. Synthoceps" [formControl]="gauntletTextFilterControl">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Chest Text Filter</mat-label>
      <input matInput (change)="onTextFilterChange()" (keyup)="onTextFilterChange()" type="text"
             placeholder="Ex. Armamentarium" [formControl]="chestTextFilterControl">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Legs Text Filter</mat-label>
      <input matInput (change)="onTextFilterChange()" (keyup)="onTextFilterChange()" type="text"
             placeholder="Ex. Lion Rampant" [formControl]="legsTextFilterControl">
    </mat-form-field>
  </div>
</form>

<div id="uploadInfoBox" *ngIf="files.length == 0">
  <h1>Please upload your destinyArmor.csv from <a href="https://app.destinyitemmanager.com/">DIM</a>. You can obtain it
    at the bottom of the Settings section.</h1>
  Otherwise, click <a mat-flat-button (click)="addExampleFile()">here</a> to use example items. Please don't judge me
  for my full vault.
</div>

<div *ngIf="files.length > 0">
  These are the sets i could find. The set with the best score it on top.
  Change the weights to change the order of these builds.<br>
  The tool assumes all your armor is masterworked. It does not add any stat mods into account, this is totally up to
  you.<br>
  <b>Click on a row to show the Items used for each loadout.</b>
  <table mat-table [dataSource]="printedTable" multiTemplateDataRows>
    <!--- Note that these columns can be defined in any order.
     The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Score</th>
      <td mat-cell *matCellDef="let element "> {{element.score}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="mobility">
      <th mat-header-cell *matHeaderCellDef> Mobility</th>
      <td mat-cell *matCellDef="let element "> {{element.permutation.stats.mobility}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="resilience">
      <th mat-header-cell *matHeaderCellDef> Resilience</th>
      <td mat-cell *matCellDef="let element "> {{element.permutation.stats.resilience}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="recovery">
      <th mat-header-cell *matHeaderCellDef> Recovery</th>
      <td mat-cell *matCellDef="let element "> {{element.permutation.stats.recovery}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="discipline">
      <th mat-header-cell *matHeaderCellDef> Discipline</th>
      <td mat-cell *matCellDef="let element "> {{element.permutation.stats.discipline}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="intellect">
      <th mat-header-cell *matHeaderCellDef> Intellect</th>
      <td mat-cell *matCellDef="let element "> {{element.permutation.stats.intellect}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="strength">
      <th mat-header-cell *matHeaderCellDef> Strength</th>
      <td mat-cell *matCellDef="let element "> {{element.permutation.stats.strength}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="shownColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
            Items:
          </div>
          <div class="example-element-description">
            <table>
              <thead>
              <tr>
                <th>Name</th>
                <th>Mobility</th>
                <th>Resilience</th>
                <th>Recovery</th>
                <th>Discipline</th>
                <th>Intellect</th>
                <th>Strength</th>
              </tr>
              </thead>
              <tr
                *ngFor="let i of [element.permutation.helmet,element.permutation.gauntlet,element.permutation.chest,element.permutation.legs]">
                <td>{{i.name}}</td>
                <td>{{i.stats.mobility}}</td>
                <td>{{i.stats.resilience}}</td>
                <td>{{i.stats.recovery}}</td>
                <td>{{i.stats.discipline}}</td>
                <td>{{i.stats.intellect}}</td>
                <td>{{i.stats.strength}}</td>
              </tr>
            </table>

            <!--
                        <div class="square"><span>H</span></div>
                        <div class="square"><span>G</span></div>
                        <div class="square"><span>C</span></div>
                        <div class="square"><span>L</span></div>
                        <div class="square"><span>any</span></div>
            -->
          </div>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="shownColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: shownColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

</div>


<div>
  <br>
  <br>
  This tool was made by Mijago for the community of the <a href="https://d2sanctuary.com">D2 Sanctuary</a> community.
  You can find the Discord <a href="https://discord.gg/d2sanctuary">here</a>.
  <br>
  It takes your destinyArmor.csv (from <a href="https://app.destinyitemmanager.com/">DIM</a>) and generates permutations
  of all the gear in your inventory and vault, based on the weights you give each stat.
  <br>
  The following features are in the pipeline, ordered by importance (by Mijago):
  <ul>
    <li>
      <del>Filter by Item name per Slot*</del>
    </li>
    <li>
      <del>Filter lower and upper limit of stats (to allow "must have 50 mobility"-builds)*</del>
    </li>
    <li>Allow the definition of standard values (like Powerful Friends, Radiant Light, Stasis)*</li>
    <li>Allow modification of penalties*</li>
    <li>Save settings across sessions (cookies!)*</li>
    <li>Bungie API login (to get rid of destinyArmor.csv)</li>
    <li>Show icons of the items, and the name on hover. Or something like this. At least show the Icons!</li>
    <li>Clean the code. This thing is one big hack. Don't judge me, it was a <a
      href="https://github.com/Mijago/D2-Gear-Calculator">nice python script</a> before I wrote this page.
    </li>
  </ul>
  *) These features are available in the <a href="https://github.com/Mijago/D2-Gear-Calculator">Python version</a> of
  this page.
</div>
